/* ---Container--- */
.container {
    margin: 0 auto;
    width: 90%;
}


/* ---Form--- */
form {
    border: solid;
    padding: 1rem 2rem;
    width: fit-content;
}

form input {
    display: block;
    width: 20rem;
}

.form-group {
    margin: 1rem 0;
}